.header {
  font-size: 1.4rem;
  height: 7rem;
  @include svar(background-color, color-white);
  @include svar(border-bottom, color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
  Logo
 */
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

/*
  Search
 */
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    @include svar(background-color, color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 100%;
      @include svar(background-color, color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      @include svar(color, color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    @include svar(background-color, color-grey-light-3);
  }

  &__button {
    border: none;
    @include svar(background-color, color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    @include svar(fill, color-grey-dark-3);
  }
}